DATABASE_URL=postgres://postgres:postgres@localhost:5432/atalant
PAYLOAD_SECRET=change-me
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_AUTO_PUSH=true
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_token
SEED_SECRET=change-me

RESEND_API_KEY=
CONTACT_EMAIL_FROM=
CONTACT_EMAIL_DEFAULT_TO=hi@wearefloc.com
CONTACT_EMAIL_BCC=hi@wearefloc.com
